h1,h3{
    text-align: center;
}
img {
    border-radius: 50%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 10px 20px;
    margin-left: 45.5%;
    margin-right: 20%;
}
.male {
    border-color: black;
    background-color: steelblue;
}
.female{
    border-color: red;
    background-color: green;
}